<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3dd90">  <td>14/09/19 10:56:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Framework_004.beforeMethod()[pri:0, instance:testCases.Framework_004@2c8d23f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2028496404</td>   <td></td> </tr>
<tr bgcolor="a3dd90">  <td>14/09/19 10:56:53</td>   <td>33105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Framework_004.main()[pri:0, instance:testCases.Framework_004@2c8d23f9]">main</td> 
  <td>main@2028496404</td>   <td></td> </tr>
<tr bgcolor="a3dd90">  <td>14/09/19 10:56:56</td>   <td>36177</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Framework_004.afterMethod()[pri:0, instance:testCases.Framework_004@2c8d23f9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2028496404</td>   <td></td> </tr>
</table>
