<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9061ba">  <td>15/08/04 09:22:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Framework_001.afterMethod()[pri:0, instance:testCases.Framework_001@8d66b2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@16192307</td>   <td></td> </tr>
<tr bgcolor="9f6666">  <td>15/08/04 09:22:49</td>   <td>31090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Framework_003.afterMethod()[pri:0, instance:testCases.Framework_003@1bbe5e8]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@16192307</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>15/08/04 09:23:10</td>   <td>51962</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Framework_004.afterMethod()[pri:0, instance:testCases.Framework_004@25e70]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@16192307</td>   <td></td> </tr>
<tr bgcolor="9061ba">  <td>15/08/04 09:21:50</td>   <td>-27264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Framework_001.beforeMethod()[pri:0, instance:testCases.Framework_001@8d66b2]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@16192307</td>   <td></td> </tr>
<tr bgcolor="9f6666">  <td>15/08/04 09:22:18</td>   <td>76</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Framework_003.beforeMethod()[pri:0, instance:testCases.Framework_003@1bbe5e8]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@16192307</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>15/08/04 09:22:49</td>   <td>31223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Framework_004.beforeMethod()[pri:0, instance:testCases.Framework_004@25e70]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@16192307</td>   <td></td> </tr>
<tr bgcolor="9061ba">  <td>15/08/04 09:22:09</td>   <td>-8564</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Framework_001.main()[pri:0, instance:testCases.Framework_001@8d66b2]">main</td> 
  <td>main@16192307</td>   <td></td> </tr>
<tr bgcolor="9f6666">  <td>15/08/04 09:22:36</td>   <td>18253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Framework_003.main()[pri:0, instance:testCases.Framework_003@1bbe5e8]">main</td> 
  <td>main@16192307</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>15/08/04 09:23:07</td>   <td>49226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Framework_004.main()[pri:0, instance:testCases.Framework_004@25e70]">main</td> 
  <td>main@16192307</td>   <td></td> </tr>
</table>
