<h2>Reporter output</h2><table><tr><td>About to begin executing test Test</td></tr>
<tr><td>About to begin executing Framework_001.beforeMethod</td></tr>
<tr><td>Completed executing Framework_001.beforeMethod</td></tr>
<tr><td>About to begin executing Framework_001.main</td></tr>
<tr><td>SignIn Action is successfully perfomred</td></tr>
<tr><td>Completed executing Framework_001.main</td></tr>
<tr><td>TestName = null</td></tr>
<tr><td>Test Method resides in testCases.Framework_001</td></tr>
<tr><td>Test Status: Pass</td></tr>
<tr><td>About to begin executing Framework_001.afterMethod</td></tr>
<tr><td>Completed executing Framework_001.afterMethod</td></tr>
<tr><td>About to begin executing Framework_003.beforeMethod</td></tr>
<tr><td>Completed executing Framework_003.beforeMethod</td></tr>
<tr><td>About to begin executing Framework_003.main</td></tr>
<tr><td>Change Profile is successfully perfomred</td></tr>
<tr><td>Completed executing Framework_003.main</td></tr>
<tr><td>TestName = null</td></tr>
<tr><td>Test Method resides in testCases.Framework_003</td></tr>
<tr><td>Test Status: Pass</td></tr>
<tr><td>About to begin executing Framework_003.afterMethod</td></tr>
<tr><td>Completed executing Framework_003.afterMethod</td></tr>
<tr><td>About to begin executing Framework_004.beforeMethod</td></tr>
<tr><td>Completed executing Framework_004.beforeMethod</td></tr>
<tr><td>About to begin executing Framework_004.main</td></tr>
<tr><td>Change Profile is successfully perfomred</td></tr>
<tr><td>Completed executing Framework_004.main</td></tr>
<tr><td>TestName = null</td></tr>
<tr><td>Test Method resides in testCases.Framework_004</td></tr>
<tr><td>Test Status: Pass</td></tr>
<tr><td>About to begin executing Framework_004.afterMethod</td></tr>
<tr><td>Completed executing Framework_004.afterMethod</td></tr>
<tr><td>Completed executing test Test</td></tr>
</table>